@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root{
  --red:#C73641;
  --gray:#707070;
  --darkgray: #494A4F;
  --lightbeige:#EBE8E3;
  --darkbeige:#DEDCD9;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--darkbeige);
}

/*GENERAL*/

h1, p.year{
  color: var(--red);
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

h3{
  color: var(--red);
  font-family: 'Montserrat', serif;
  font-weight: 400;
}

p{
  color: var(--gray);
  font-family: 'Montserrat', sans-serif;
  line-height: 3vh;
  font-size: 1vw;
}

.quote{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.4vw;
  line-height: 6vh;
}

/*SECTION 1*/
.section1{
  width: 100vw;
  height: 100vh;
  background: var(--lightbeige) url('images/Agatha01.png');
  background-position: left bottom;
  background-size: 80%;
  background-repeat: no-repeat;
  margin-bottom: 5vh;
}

.wrapper{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: flex-end;

}

.textholder{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, auto);
  grid-column-gap: 10px;
  width: 70%;
}

.context{
  grid-column: 5 / 8;
  grid-row: 2 / 3;
  font-size: 1.5vw;
}

.title{
  grid-column: 1 / 8;
  grid-row: 4 / 5;
  font-size: 7vw;
  margin-bottom: 40px;
}

#quote1{
  grid-column: 1 / 4;
  grid-row: 6 / 7;
  font-size: 2vw;
}

.biography{
  grid-column: 5 / 10;
  grid-row: 6 / 8;
}





/*SECTION 2*/

.section2{
  width: 80%;
  height: auto;
  margin:auto;
  background: var(--lightbeige);
  display: grid;
  border-radius: 10px 10px 0 0;
}


.timelineholder{
  width: 80%;
  margin: auto auto 6vh auto;
}
.timelineholder > h1{
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 3vw;
  font-style: italic;

}

.timeline_item{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 3vw;
  margin-bottom: 1vw;
}

.year{
  font-size: 1.5vw;
}

.section3{
  width: 100%;
}

.imagewindow{
  height: 60vh;
  width: 100%;
  background: url('images/Agatha05.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*SECTION 3*/

.section3{
  width: 80%;
  height: auto;
  margin:auto;
  background: var(--lightbeige);
  display: grid;
  border-radius: 0 0 10px 10px;
  margin-bottom: 4vh;

}

#quote2{
  text-align: center;
  width: 70%;
  margin: 4vw auto 2vw;
  font-size: 1.4vw;
  line-height: 2.5vw;
}

#credit{
  text-align: center;
  margin-bottom: 4vw;
}

footer{
  width: 100%;
  background: var(--darkgray);
  height: 4vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer > p{
  color: #ababab;
  font-size: .7vw;
}

a{
  color: #ababab;
  text-decoration: none;
}
