@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap");

:root {
  --red: #c73641;
  --gray: #707070;
  --darkgray: #494a4f;
  --lightbeige: #ebe8e3;
  --darkbeige: #dedcd9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--darkbeige);
}

/*GENERAL*/

h1,
p.year {
  color: var(--red);
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

h3 {
  color: var(--red);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

p {
  color: var(--gray);
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  width: 100%;
}

.quote {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
  width: 100%;
  line-height: 2;
}

/*SECTION 1*/
.section1 {
  width: 100vw;
  height: 100vh;
  background: var(--lightbeige)
    url("https://res.cloudinary.com/du07lnlg2/image/upload/v1595064445/Coding%20Practice/03%20Agatha%20Christie%20Tribute%20page/Agatha01.png");
  background-position: left bottom;
  background-size: 82%;
  background-repeat: no-repeat;
  margin-bottom: 5vh;
}

.wrapper {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: flex-end;
}

.textholder {
  display: grid;
  grid-template-columns: 10% repeat(11, 1fr);
  grid-template-rows: repeat(8, auto);
  grid-column-gap: 10px;
}

.context {
  grid-column: 8 / 11;
  grid-row: 2 / 3;
  font-size: 1.5vw;
}

.title {
  grid-column: 4 / 11;
  grid-row: 4 / 5;
  font-size: 7.2vw;
  margin-bottom: 40px;
}

#quote1 {
  grid-column: 4 / 7;
  grid-row: 6 / 7;
  font-size: 2vw;
}

.biography {
  grid-column: 8 / 13;
  grid-row: 6 / 8;
}

/*SECTION 2*/

.section2 {
  width: 80%;
  height: auto;
  margin: auto;
  background: var(--lightbeige);
  display: grid;
  border-radius: 10px 10px 0 0;
}

.timelineholder {
  width: 80%;
  margin: auto auto 6vh auto;
}
.timelineholder > h1 {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 5.5vw;
  font-style: italic;
}

.timeline_item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
  margin-bottom: 1vw;
}

.year {
  font-size: 120%;
  line-height: normal;
}

.section3 {
  width: 100%;
}

.imagewindow {
  height: 60vh;
  width: 100%;
  background: url("https://res.cloudinary.com/du07lnlg2/image/upload/v1595064873/Coding%20Practice/03%20Agatha%20Christie%20Tribute%20page/Agatha05.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*SECTION 3*/

.section3 {
  width: 80%;
  height: auto;
  margin: auto;
  background: var(--lightbeige);
  display: grid;
  border-radius: 0 0 10px 10px;
  margin-bottom: 4vh;
}

#quote2 {
  text-align: center;
  width: 70%;
  margin: 4vw auto 2vw;
}

#credit {
  text-align: center;
  margin-bottom: 4vw;
}

footer {
  width: 100%;
  background: var(--darkgray);
  height: 4vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer > p {
  color: #ababab;
  font-size: 10px;
}

a {
  color: #ababab;
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .wrapper {
    width: 85%;
    align-items: flex-start;
  }

  .textholder {
    grid-template-rows: repeat(7, auto) 20%;
  }

  .context {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
    margin-top: 50px;
  }

  .title {
    grid-column: 1 / 13;
    grid-row: 4 / 5;
    margin-bottom: 40px;
    font-size: 10vw;
  }

  #quote1 {
    grid-column: 5 / 13;
    grid-row: 8 / 10;
    font-size: 4vw;
    text-align: right;
    align-self: center;
  }

  .biography {
    grid-column: 1 / 13;
    grid-row: 6 / 7;
    text-align: justify;
  }
}
